@media (max-width: 767px) {
  p {
    font-family: 'Barlow', sans-serif;
  }

  .sections {
    display: inline-block;
  }

  .heading {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  .box {
    border: 2px solid #000;
    margin: 20px 0;
    padding-left: 10px;
    background-color: lightgrey;
  }

  .box-heading {
    text-align: center;
    margin: 0;
    margin-left: auto;
    border: 2px solid;
    border-top: 0;
    border-right: 0;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .chicken-head {
    background-color: pink;
  }

  .beef-head {
    background-color: red;
  }

  .sushi-head {
    background-color: yellow;
  }
}
